<!DOCTYPE html>
<html>
  <head>
    <title>{{ page.title }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="/lib/w3.css" />
    <link rel="stylesheet" href="/lib/style.css" />
    <link rel="stylesheet" href="/lib/zenburn.css" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/jasmine/2.5.2/jasmine.css" rel="stylesheet" type="text/css" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jasmine/2.5.2/jasmine.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jasmine/2.5.2/jasmine-html.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jasmine/2.5.2/boot.min.js"></script>
    {% include google.html %}
  </head>

  <body>
    <div class="w3-container w3-blue">
      <h1>
        <span class="w3-opennav w3-hide-large w3-hide-medium" onclick="w3_open()">&#9776;</span>
        <a class="w3-btn w3-blue" href="/">
          <i class="fa fa-book" aria-hidden="true"></i>
          Test Cookbook</a>
      </h1>
    </div>
    <div class="w3-container">
      {{ content }}
    </div>
    <script>
function w3_open() {
  document.getElementById("mySidenav").style.display = "block";
}
function w3_close() {
  document.getElementById("mySidenav").style.display = "none";
}
    </script>
  <br /><br />
  {% include prodpad.html %}
  </body>
</html>
